<%- include('../partials/header/Admin.ejs') %>

    <div class="blockI">

        <div class="underline">
            <h1>
                <%= item.name %>
            </h1>
        </div>
        <div class="row" style="margin-top: 2rem;">
            <img src='<%= item.image %>' height="200px" width="200rem"
                style="object-fit: contain; border-radius: 12px;">
            <div class="column">
                <h3>Name: <%= item.name %>
                </h3>
                <p>Category : <%= item.category %>
                </p>
                <p>Price :<%= item.price %>฿</p>
                <p>Sold : <%= item.sold %>
                </p>
                <p>Stock : <%= item.stock %>
                </p>
                <p style="height: 20px;">Description : <%= item.desc %>
                </p>
                <div class="row">
                    <span>By :</span>
                    <div class="row">
                        <% if(typeof(item.author.image)=='undefined' ) { %>
                            <i class="fas fa-user me-3"></i>
                            <%= item.author.username %>
                                <% } else { %>
                                    <img class='me-3' src='<%= item.author.image %>'
                                        style='height: 20px; width: 20px; border-radius: 50%; object-fit:cover;'>
                                    <%= item.author.username %>
                                        <% } %>
                    </div>
                </div>
            </div>
        </div>


        <div class="blockC column" style="margin-top: 5rem;">
            <div class="underline">
            <h3>Comment</h3>
            </div>

        <div class="overflowY com">
            <div>
                <% item.comments.forEach((comment)=> { %>
                    <div class='row'>
                        <p>
                            <% if(typeof(comment.author.image)=='undefined' ) { %>
                                <i class="fas fa-user"></i>
                                <% } else { %>
                                    <img src='<%= comment.author.image %>'
                                        style='height: 20px; width: 20px; border-radius: 50%; object-fit:cover;'>
                                    <% } %>
                                        <strong>
                                            <%= comment.author.username %> :
                                        </strong>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>

                            <div class="row" style="margin-left: 80rem; margin-top: 0.3rem;">
                                <a data-toggle="reply-form" data-target="<%= comment.id %>-reply-form"><i
                                        class="fas fa-edit"></i><span>Edit</span></a>
                                <form onsubmit="if(!confirm('Are you sure?')){return false;}"
                                    action="/comment/<%= comment.id %>/delete" method='post'>
                                    <button type='submit'><i class="fas fa-trash-alt"></i><span>Delete</span></button>
                                </form>
                            </div>
                            <% } %>

                    </div>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <div class='row underline'>
                            <p id="<%= comment.id%>-reply-form-2">
                                <%= comment.text %>
                            </p>
                            <form action="/comment/<%=comment.id%>/edit" method="post" class="reply-form"
                                id="<%= comment.id%>-reply-form">
                                <textarea rows="2" name='text'><%= comment.text %></textarea>
                                <div class='d-flex justify-content-end'>
                                    <button type="button" class='btn btn-danger mx-2' data-toggle="reply-form"
                                        data-target="<%= comment.id%>-reply-form">Cancel</button>
                                    <button type="submit" class='btn btn-primary'>Submit</button>
                                </div>
                            </form>
                            <div>
                                <% var i; %>
                                    <% for(i=1;i <=comment.rating;i++){ %>
                                        <i class="fas fa-star" style='color: orange;'></i>
                                        <% } %>
                            </div>
                            <p>
                                <%= comment.date %>
                            </p>
                        </div>
                        <% } else { %>
                            <div class="row underline">
                                <p id="<%= comment.id%>-reply-form-2">
                                    <%= comment.text %>
                                </p>
                                <div>
                                    <% var i; %>
                                        <% for(i=1;i <=comment.rating;i++){ %>
                                            <i class="fas fa-star" style='color: orange;'></i>
                                            <% } %>
                                </div>
                                <p>
                                    <%= comment.date %>
                                </p>
                            </div>
                            <% } %>
                                <% }); %>
            </div>
        </div>


    </div>




    <%- include('../partials/footer/Main2.ejs') %>