<%- include('../partials/header/Admin.ejs') %>

<div class="block overflowY" style="height: 40rem;">
    <div class="underline">
        <h1>All User</h1>
    </div>
    <div class="overflowY">
    <div class="row" style="justify-content: space-between; padding-bottom: 1rem;">
        <h3>Photo</h3>
        <h3>Fullname</h3>
        <h3>Username</h3>
        <h3>Email</h3>
        <h3>More</h3>
    </div>
    <div>
        <% user.forEach((account) => { %>
            <div class="row" style="justify-content: space-between; padding-bottom: 1rem;">
                <img src='<%= account.image %>' id='output' style='height: 100px; width: 100px; object-fit: cover; border-radius: 50%;'>
                <p><%= account.username %></p>
                <p><%= account.fullname %></p>
                <p><%= account.email %></p>
                <div class='row'>
                    <div>
                        <a href='/admin/info/<%= account.id %>'><i class='bx bx-info-circle' >Info</i></a>
                    </div>
                    <form onsubmit="if(!confirm('Are you sure?')){return false;}" action='/admin/user/delete/<%= account._id %>' method='post'>
                        <button type='submit' style="border: none; background-color:red;color:white;padding: 0.5rem 1rem;"><i class='bx bx-trash'>Delete</i></button>
                    </form>
                </div>
            </div>
            <% }); %>
    </div>
    
    </div>
</div>

<%- include('../partials/footer/Main2.ejs') %>