<%- include('partials/header/Admin.ejs') %>

<div class="block">
    <div class="underline">
        <h1>All User</h1>
    </div>
    <div class="overflowY">
    <div class="row" style="margin:2rem 0 0 1rem;">
        <h3 style="padding-right: 5rem;">Photo</h3>
        <h3 style="padding-right: 5rem;">Fullname</h3>
        <h3 style="padding-right: 5rem;">Username</h3>
        <h3 style="padding-right: 5rem;">Email</h3>
        <h3 style="padding-left: 10rem;">More</h3>
    </div>
    <div>
        <% user.forEach((account) => { %>
            <div class="row">
                <img src='<%= account.image %>' id='output' style='height: 100px; width: 100px; object-fit: cover; border-radius: 50%;'>
                <p style="padding-left: 3rem;"><%= account.username %></p>
                <p style="padding-left: 8rem;"><%= account.fullname %></p>
                <p style="padding-left: 9rem;"><%= account.email %></p>
                <div class='row'>
                    <div style="margin-right: 1rem;">
                        <a href='/admin/info/<%= account.id %>' style="padding-left: 11rem;"><i class='bx bx-info-circle' >Info</i></a>
                    </div>
                    <form onsubmit="if(!confirm('Are you sure?')){return false;}" action='/admin/user/delete/<%= account._id %>' method='post'>
                        <button type='submit' style="border: none; background-color:red;color:white;padding: 0.5rem 1rem;"><i class='bx bx-trash'>Delete</i></button>
                    </form>
                </div>
            </div>
            <% }); %>
    </div>
    
    </div>
</div>

<%- include('partials/footer/Main2.ejs') %>