<%- include('partials/more/cart.ejs') %>
<div class="space">
  <div style="border-bottom: 0.1rem black solid;">
  <h1>SHOPPING CART</h1>
  </div>
  <% if(item.length == 0) { %>
    <div style="text-align: center; margin-top:1rem;">
      <h2>No item in cart</h2>
    </div>
  <% } else { %>
    <div>
      <table class="table">
        <tr class="tr">
          <th class="th">Product name</th>
          <th class="th"></th>
          <th class="th">price</th>
          <th class="th">Amount</th>
          <th class="th">Total</th>
        
        </tr>
        <% var subtotal = 0,fee=100 %>
        <% item.forEach((cart) => { %>
        <tr class="tr">
          <td style="margin-left: 5rem;" class="td">
            <a href='/show/<%=cart.productId.id%>'><img src='<%= cart.productId.image %>' class='imageProduct'></a>
          </td>
          <td class="td">
            <p><%= cart.productId.name %></p>
          </td>
          <td class="td">
            <p><%= cart.productId.price %>฿</p>
          </td>
          <td style="margin-left: 5.5rem;" class="td">
            <form action="/cart/quantity/<%= cart._id %>" method="post">
                <input type="number" onkeyup='disableProceed()' class="" name='quantity' id ='<%=cart._id%>' value='<%= cart.quantity%>' min='1' max='<%= cart.productId.stock %>'>
              <span style='display: block;'>stock : <%= cart.productId.stock %></span>
            </form>
          </td>
          <td style="margin-left: 5.8rem;" class="td">
            <span><%= cart.productId.price * cart.quantity %>฿</span>
            <form action='/cart/remove/<%= cart._id %>' method="post">
              <button class='btn' style='width: fit-content;' type='submit'><i class='bx bx-x'></i></button>
            </form>
          </td>
          
          <% subtotal = subtotal + (cart.quantity * cart.productId.price) %>
          <% }); %>
          <% total = subtotal + fee %>
        </tr>
        <div class="sum">
          <form action='/user/transaction' method="post">
            <div class=''>
              <div class=''>
                <h5>Subtotal<input type='hidden' name='subtotal' value='<%= subtotal %>'></h5>
              </div>
              <div class='col-5 text-end'>
                <p>฿<%= subtotal %></p>
              </div>
            </div>
            <div class='row mb-3'>
              <div class='col-7'>
                <h5>Shipping fee<input type='hidden' name='fee' value="<%= fee %>"></h5>
              </div>
              <div class='col-5 text-end'>
                <p>฿<%= fee %></p>
              </div>
            </div>
            <hr class='mb-3'>
            <div class='row'>
              <div class='col-7'>
                <h4>Total<input type='hidden' name='total' value='<%= total %>'></h4>
              </div>
              <div class='col-5 text-end'>
                <h5>฿<%= total %></h5>
              </div>
            </div>
            <hr class='mt-1'>
            <div class='row d-flex justify-content-center'>
              <button id='proceed' class='btn-success' style="width: fit-content;">Proceed to check out</button>
            </div>
          </form>
        </div>
      </table>
  
    </div>

      <% } %>
    </div>
  <%- include('partials/footer/Main.ejs') %>
  
  