<%- include('partials/header/world.ejs') %>

  <div class="blockE">
      <div class="underline">
        <h1>Edit Product Info.</h1>
      </div>
      <form action="/seller/edit/<%= item.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="column">
            <img src='<%= item.image %>' id='output' style='height: 200px; width: 100%; object-fit: cover;'>
            <div class='fileUpload'>
              <input type="file" class="upload" onchange="loadFile(event)" name="image" placeholder="Image" accept="image/*">
              <label for="file" class="btn-3">
                <span>Upload Image</span>
              </label>
            </div>
          </div>
          <div class="column" style="padding:3rem 0 0 2rem;">
            <div class="row">
              <div>
                <label>Name&nbsp;</label>
                <input type="text" name="item[name]" value='<%=item.name%>' required>
              </div>
              <div>
                <label>Category&nbsp;</label>
                <input type="text" name="item[category]" value='<%= item.category  %>' required>
              </div>
            </div>
            <div class="row">
              <div>
                <label>Price&nbsp;</label>
                <input type="number" name="item[price]" value='<%= item.price %>' required>
              </div>
              <div>
                <label>Stock&nbsp;</label>
                <input type="number" name="item[stock]" value='<%= item.stock %>' required>
              </div>
            </div>
            <br>
            <div>
              <label>Description&nbsp;</label>
              <textarea type="text" rows="2" name="item[desc]" style=" position: absolute;" required><%= item.desc %></textarea>
            </div>
          </div>
          <div style="float: right; margin-top: 10rem; margin-left: -6rem;">
            <a style="color: red;" href="/seller">Cancel</a>
            <button type="submit">Edit</button>
          </div>
      </div>
    </form>
  </div>
<%- include('partials/footer/Main2.ejs') %>