<%- include('partials/header/Main.ejs') %>

 <!-- corasel slidebar -->
 <div class="slideshow-container">
  <% corasel.forEach(function(corasel){ %>
    <div class="mySlides fade">
      <img id="myimage" src="<%= corasel.src %>" style="height: 14rem; z-index: -1;">
      <div class="text">
        <%= corasel.name %>
      </div>
    </div>
    <% }); %>
</div>
<br>


<div class="setdot">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

<!-- timmer -->
<div class="timer gradient-border">
  <img src="/picture/index/snowfest.png" style="width:15rem">
  <p id="demo"></p>
</div>

<!-- feature -->
<div class="feature">
  <span class="featureText">featured & recommended</span>
  <a href="#"><i class='bx bx-chevrons-right'></i></a>
</div>

<!-- special offers -->
<div class="sp-container">
  <h1 class="sp-text">SPECIAL OFFERS</h1>
  <div class="sp-block">
    <% specualoffers.forEach(function(specualoffers){ %>
      <div class="card">
        <a href="<%= specualoffers.link %>">
          <img src="<%= specualoffers.src %>" style="height:13rem; z-index: -1;">
          <div class="showdetailS">
            <p class="nameS">
              <%= specualoffers.name %>
            </p>
            <p class="discount">
              <%= specualoffers.discount %> ฿
            </p>
            <p class="normalpriceS strikethrough">
              <%= specualoffers.price %> ฿
            </p>
          </div>
        </a>
      </div>
      <% }); %>
  </div>
  <a href="#" class="sp-link">see more...</a>
</div>

<!-- All -->
<div class="all">
  <% alltype.forEach(function(alltype){ %>
    <div class="cardAll">
      <h1 class="title">
        <%= alltype.title %>
      </h1>
      <div style="text-align: center; z-index: -2;">
        <a href="<%= alltype.link %>">
          <img src="<%= alltype.src %>" style="height: 12rem;">
        </a>
        <div class="showdetail">
          <a href="<%= alltype.link %>" class="linkall">SEE MORE</a>
        </div>
      </div>
    </div>
    <% }); %>
</div>

<!-- background -->
<!-- sound -->
<audio id="mySong">
  <source src="/music/Jingbell.mp3" type="audio/ogg" autocapitalize="" controls autoplay>
</audio>
<i class="fa fa-snowflake-o" aria-hidden="true"></i>

<%- include('partials/footer/Main.ejs') %>