<%- include('partials/header/Search.ejs') %>

  <div class="block" style="margin-top: 3rem;">
    <div class="row">
      <div class="box">
        <h1>All result for "
          <span id='word' name='word'>
            <%= word %>
          </span>"
        </h1>
      </div>
      <div class="box sort">
        <span>Sort by</span>
        <select id='sort-by' onchange="sort()">
          <option value='none'>None</option>
          <option value='name'>Name</option>
          <option value='price-low'>Price low to high</option>
          <option value='price-high'>Price high to low</option>
          <option value='rating'>Rating</option>
        </select>
      </div>
      <div class="box filter">
        <span>Filter</span>
        <input type="number" onkeyup="liveSearch()" id='min' name="min" placeholder="Min">
        <input type="number" onkeyup="liveSearch()" id='max' name="max" placeholder="Max">
      </div>
    </div>
      <div class="flex" id='myUL'>
        <% item.forEach((item) => { %>
          <% var avgRating; %>
          <% if(item.comments.length == 0){ %>
          <%  avgRating = 0; %>                                                  
          <% }else{ var i = 0,j= item.comments.length; %>
            <% item.comments.forEach(function(comment){ %>
              <% if(typeof(comment.rating) == 'undefined') { %>
              <% j-- %>
              <% } else { %>
                <% i = i + comment.rating %>
              <% } %>
            <% }); %>
            <% avgRating = (i/j).toFixed(1) %>
          <% } %>
          <% if(isNaN(avgRating) || avgRating == 0){ %>
          <% avgRating=0 %>
          <% } %>
                  <div class="search" data-none='<%= item.date%>' data-name='<%= item.name %>' data-price='<%= item.price %>' data-rating='<%= avgRating %>'>
                <div class="card" >
                  <div class="spaceImg">
                    <img src='<%= item.image %>' class="imgC">
                    <% var txtRate; %>
            <% if(avgRating == 0){ %>
              <% txtRate='No one rate this product' %>
              <% } else { %>
              <% txtRate = avgRating + ' / 5.0' %>
              <% } %>
                    <div>
                      <% if(!currentUser){ %>
                        <form action='/user/favorite/add/<%= item.id %>' method='post'>
                          <button class='heart'><i class="far fa-heart"></i></button>
                        </form>
                      <% } else { %>
                      <% if((currentUser.favorite).includes(item.id)) {%>
                        <form action='/user/favorite/remove/<%= item.id %>' method='post'>
                          <button class='heart'><i class="fas fa-heart redH"></i></button>
                        </form>
                      <% } else { %>
                        <form action='/user/favorite/add/<%= item.id %>' method='post'>
                          <button class='heart'><i class="far fa-heart"></i></button>
                        </form>
                      <% } %>
                      <% } %>
                      <i class="fas fa-star" title='<%= txtRate %>'></i>
                    </div>
                  </div>
                
                  <div class="detail">
                    <div class="flex" style="margin-left:1rem"> 
                      <h3  class="item"><%= item.name %></h3>
                      <span class="cate">&nbsp;(<%= item.category %>)</span>
                    </div>

                    <div class="row flex-end">
                      <div class="row">
                        <span>Price :</span>
                        <p class='price'> <%= item.price %>฿</p>
                      </div>
                      <div>
                        <p>Sold : <%= item.sold %></p>
                      </div>
                    </div>
                    <div class="row" style="margin-left:2.5rem; align-items: center;">
                      <span class='col-3'>By :</span>
                      <div class='col-9 d-flex justify-content-end'>
                        <a href='/seller/shop/<%= item.author.id%>' class='text-decoration-none text-dark'>
                        <% if(typeof(item.author.image) == 'undefined') { %>
                          <i class="fas fa-user me-2" style='font-size: 25px;'></i><%= item.author.username %>
                        <% } else { %>
                          <img  class='me-2'src='<%= item.author.image %>' style='height: 20px; width: 20px; border-radius: 50%; object-fit:cover;'><%= item.author.username %>
                        <% } %>
                        </a>
                      </div>
                    </div>
                    <div class="flex-end row">
                      <div>
                        <a href = '/show/<%= item._id%>'>> View < </a>
                      </div>
                      <div>
                        <form action="/cart/<%= item._id %>" method="post">
                          <button type="submit">Add to cart</button>
                        </form>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <% }); %>
            </div>
  </div>


  <%- include('partials/footer/Main2.ejs') %>