<%- include('partials/header/world.ejs') %>

<div class="block">
  <div class="row underline" style="justify-content: space-between;">
    <h1>Your Shop</h1>
    <a href='/seller/new' class="badd" style='font-size: 30px;'>Add new product</a>
  </div>
  <div class="row">
      <% if(item.length == 0){ %>
        <h3 style="margin: auto; margin-top: 2rem">No item in your shop</h3>
      <% } else { %>
        <div class="album pb-5 font-roberto">
          <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" id='myUL'>
              <% item.forEach((item) => { %>
                <% var avgRating; %>
                <% if(item.comments.length == 0){ %>
                <%  avgRating = 0; %>                                                  
                <% }else{ var i = 0,j= item.comments.length; %>
                  <% item.comments.forEach(function(comment){ %>
                    <% if(typeof(comment.rating) == 'undefined') { %>
                    <% j-- %>
                    <% } else { %>
                      <% i = i + comment.rating %>
                    <% } %>
                  <% }); %>
                  <% avgRating = (i/j).toFixed(1) %>
                <% } %>
                <% if(isNaN(avgRating) || avgRating == 0){ %>
                <% avgRating=0 %>
                <% } %>
              <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 search" data-name='<%= item.name %>' data-price='<%= item.price %>' data-rating='<%= avgRating %>' data-stock='<%= item.stock %>'>
                <div class="card shadow-sm p-2" style='border-radius: 12px;'>
                  <div class='star'>
                    <img src='<%= item.image %>' height="300px" width="100%" class='card-img-top' style="object-fit: cover; border-radius: 12px;">
                    <% var txtRate; %>
                    <% if(avgRating == 0){ %>
                      <% txtRate='No one rate this product' %>
                      <% } else { %>
                      <% txtRate = avgRating + ' / 5.0' %>
                      <% } %>
                    <i class="fas fa-star top-right" style='color: orange;' title='<%= txtRate %>'></i>
                  </div>
                  <div class="card-body px-0 py-2">
                    <h5 class='card-title item'style='min-height: 50px;'><%= item.name %></h5>
                    <div class="d-flex justify-content-between align-items-center row">
                      <p class="card-text col-10 d-block">Stock : <%= item.stock %></p>
                      <div class="d-grid col-2 mb-3 justify-content-end">
                        <a href = '/show/<%= item._id%>' class = "btn btn-sm btn-outline-secondary">View</a>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <h4 class="card-text col-8 justify-content-start">฿<%= item.price %></h4>
                      <div class="d-grid gap-2 col-4 justify-content-end">
                        <a href='/seller/edit/<%= item._id%>' class="btn btn-xl btn-primary login border border-0">Edit</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class='text-center pt-3'>
                  <form onsubmit="if(!confirm('yes/no?')){return false;}" action='/seller/delete/<%= item._id%>' method="post">
                    <button type='submit' class='btn btn-danger'>Delete</button>
                  </form>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
        <% } %>
    </div>
</div>










<%- include('partials/footer/Main2.ejs') %>