<%- include('partials/headerNavbar.ejs') %>
<script>
    document.addEventListener(
    "click",
    function(event) {
        var target = event.target;
        var replyForm;
        if (target.matches("[data-toggle='reply-form']")) {
            replyForm = document.getElementById(target.getAttribute("data-target"));
            text = document.getElementById(target.getAttribute("data-target")+"-2");
            replyForm.classList.toggle("d-none");
            text.classList.toggle('d-none');
        }
    },
    false
);
</script>
<div class='container'>
    <% if(error && error.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%= error %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <%}%>
    <% if(success && success.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= success %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <%}%>
  </div>
<div class='p-3 mb-5 font-roberto'>
<div class='container mx-auto px-5 py-5 bg-white rounded-3'>
    <div class='card px-4 py-4 bg-view' style="border-radius: 12px;">
        <div class='row'>
            <% var avgRating; %>
            <% if(item.comments.length == 0){ %>
            <%  avgRating = 0; %>                                                  
            <% }else{ var i = 0,j= item.comments.length; %>
              <% item.comments.forEach(function(comment){ %>
                <% if(typeof(comment.rating) == 'undefined') { %>
                <% j-- %>
                <% } else { %>
                  <% i = i + comment.rating %>
                <% } %>
              <% }); %>
              <% avgRating = (i/j).toFixed(1) %>
            <% } %>
            <% if(isNaN(avgRating) || avgRating == 0){ %>
            <% avgRating=0 %>
            <% } %>
        <div class='col-xxl-4 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 justify-content-start px-2'>
            <div class='star'>
                <img src='<%= item.image %>' height="400px" width="100%" class='card-img-top' style="object-fit: cover; border-radius: 12px;">
                <% var txtRate; %>
                <% if(avgRating == 0){ %>
                  <% txtRate='No one rate this product' %>
                  <% } else { %>
                  <% txtRate = avgRating + ' / 5.0' %>
                  <% } %>
                <div class='top-right'>
                  <% if(!currentUser){ %>
                    <form action='/user/favorite/add/<%= item.id %>' method='post' style="display: inline;">
                      <button class='btn'><i class="far fa-heart"></i></button>
                    </form>
                  <% } else { %>
                  <% if((currentUser.favorite).includes(item.id)) {%>
                    <form action='/user/favorite/remove/<%= item.id %>' method='post' style="display: inline;">
                      <button class='btn'><i class="fas fa-heart" style='color: red;'></i></button>
                    </form>
                  <% } else { %>
                    <form action='/user/favorite/add/<%= item.id %>' method='post' style="display: inline;">
                      <button class='btn'><i class="far fa-heart"></i></button>
                    </form>
                  <% } %>
                  <% } %>
                    <i class="fas fa-star" style='color: orange; display: inline;' title='<%= txtRate %>'></i>
                </div>
              </div>
        </div>
        <div class='col-xxl-8 col-xl-7 col-lg-7 cok-md-12 col-sm-12 col-12 ps-5'>
            <h1 class='pt-3'>Name : <%= item.name %></h1>
            <h4 class='pt-2'>Price : ฿<%= item.price%></h4>
            <p class='pt-3'>Category : <%= item.category %></p>
            <p>Stock : <%= item.stock %></p>
            <p>Description : <p><%= item.desc %></p></p>
            <form action="/cart/<%= item._id %>/add" method="post">
                <p>Quantity : <input type="number" class="ms-2" name='quantity' value="1" min='1' max='<%= item.stock %>'></p>
                <button type="submit" class="btn btn-xl btn-primary login border border-0 mt-3" style = 'font-size: 20px;'>Add to my cart</button>
            </form>
            <!-- <div class='row'>
                <div class='col-5 col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-5'>
                <form action="/cart/<%= item._id %>/now" method="post">
                    <button type="submit" class="btn btn-xl btn-primary login border border-0 mt-3" style = 'font-size: 20px;'>Buy it now</button>
                </form>
                </div>
                <div class='col-7 col-xxl-4 col-xl-4 col-lg-5 col-md-8 col-sm-7 ps-0'>
                <form action="/cart/<%= item._id %>" method="post">
                    <input type="number" class="" name='quantity' min='1' max='<%= item.stock %>'>
                    <button type="submit" class="btn btn-xl btn-primary login border border-0 mt-3" style = 'font-size: 20px;'>Add to my cart</button>
                </form>
                </div>
            </div> -->
        </div>
        <div class='container mt-2'>
            <div class='row'>
                <div class='col-12 col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center'>
                    <span>Sell by : </span>
                    <a href='/seller/shop/<%= item.author.id%>' class='text-decoration-none text-dark'>
                    <% if(typeof(item.author.image) == 'undefined') { %>
                        <i class="fas fa-user me-3"></i><%= item.author.username %>
                    <% } else { %>
                        <img  class='me-3'src='<%= item.author.image %>' style='height: 50px; width: 50px; border-radius: 50%; object-fit:cover;'><%= item.author.username %>
                    <% } %>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class='container mt-5 px-5'>
        <h3>Comment</h3>
        <form action="/show/<%= item._id %>/comments" method="post">
            <div class="container px-0">
                <div class='row'>
                    <div class='col-xxl-9 col-xl-8 col-lg-7 col-md-12 col-sm-12 col-12'>
                        <input type="text" class="form-control" name="comment[text]" placeholder="Write your comment for this product">
                    </div>
                    <div class='col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-7 col-8 d-flex justify-content-start m-top'>
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="comment[rating]" value="5" /><label id="label-rating" class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="comment[rating]" value="4" /><label id="label-rating" class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="comment[rating]" value="3" /><label id="label-rating" class = "full" for="star3" title="Average - 3 stars"></label>
                            <input type="radio" id="star2" name="comment[rating]" value="2" /><label id="label-rating" class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="comment[rating]" value="1" /><label id="label-rating" class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                    </div>
                    <div class='col-xxl-1 col-xl-1 col-lg-2 col-md-6 col-sm-5 col-4 d-flex justify-content-end m-top'>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class='container px-5 pb-4'>
        <% item.comments.forEach((comment) => { %>
                <div class='row mt-4'>
                    <div class='col-10 col-xl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10'>
                        <p class='h5'>
                            <% if(typeof(comment.author.image) == 'undefined') { %>
                                <i class="fas fa-user me-3"></i>
                            <% } else { %>
                                <img  class='me-3'src='<%= comment.author.image %>' style='height: 50px; width: 50px; border-radius: 50%; object-fit:cover;'>
                            <% } %>
                            <strong><%= comment.author.username %></strong>
                        </p>
                    </div>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <div class="dropdown nav-item col-2 text-end">
                        <a class="dropdown-toggle text-decoration-none text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end drop-down-menu-lg-start" aria-labelledby="dropdownMenuLink">
                        <li class='row'><a class="dropdown-item" data-toggle="reply-form" data-target="<%= comment.id %>-reply-form"><i class="fas fa-edit col-2 ps-1"></i><span class='ps-2 col-10'>Edit</span></a></li>
                        <form onsubmit="if(!confirm('Are you sure?')){return false;}" action="/comment/<%= comment.id %>/delete" method='post'>
                            <li class='row'><button type='submit' class="dropdown-item"><i class="fas fa-trash-alt col-2 ps-1"></i><span class='ps-2 col-10'>Delete</span></button></li>
                        </form>
                        </ul>
                    </div>
            <% } %>
                </div>
            <div class='row'>
                <p class='col-10 col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 mb-1 mt-1' id="<%= comment.id%>-reply-form-2"><%= comment.text %></p>
                <form action="/comment/<%=comment.id%>/edit" method="post" class="reply-form d-none" id="<%= comment.id%>-reply-form">
                    <textarea rows="2" name='text'><%= comment.text %></textarea>
                    <div class='d-flex justify-content-end'>
                        <button type="button" class='btn btn-danger mx-2' data-toggle="reply-form" data-target="<%= comment.id%>-reply-form">Cancel</button>
                        <button type="submit" class='btn btn-primary'>Submit</button>
                    </div>
                </form>
                <div class='col-6 d-flex justify-content-start'>
                    <% var i; %>
                    <% for(i=1;i <= comment.rating;i++){ %>
                        <i class="fas fa-star" style='color: orange;'></i>
                    <% } %>
                </div>
                <p class='col-6 col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 text-end mt-1 mb-0'><%= comment.date %></p>
            </div>
            <hr class='mt-0 mb-4'>
        <% }); %>
    </div>
</div>
</div>
<%- include('partials/footer.ejs') %>