<%- include('partials/header/world.ejs') %>

<script>
    // Image Magnifier Glass

function magnify(imgID, zoom) {
    var img, glass, w, h, bw;
    img = document.getElementById(imgID);
    /*create magnifier glass:*/
    glass = document.createElement("DIV");
    glass.setAttribute("class", "img-magnifier-glass");
    /*insert magnifier glass:*/
    img.parentElement.insertBefore(glass, img);
    /*set background properties for the magnifier glass:*/
    glass.style.backgroundImage = "url('" + img.src + "')";
    glass.style.backgroundRepeat = "no-repeat";
    glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
    bw = 3;
    w = glass.offsetWidth / 2;
    h = glass.offsetHeight / 2;
    /*execute a function when someone moves the magnifier glass over the image:*/
    glass.addEventListener("mousemove", moveMagnifier);
    img.addEventListener("mousemove", moveMagnifier);
    /*and also for touch screens:*/
    glass.addEventListener("touchmove", moveMagnifier);
    img.addEventListener("touchmove", moveMagnifier);
    function moveMagnifier(e) {
      var pos, x, y;
      /*prevent any other actions that may occur when moving over the image*/
      e.preventDefault();
      /*get the cursor's x and y positions:*/
      pos = getCursorPos(e);
      x = pos.x;
      y = pos.y;
      /*prevent the magnifier glass from being positioned outside the image:*/
      if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
      if (x < w / zoom) {x = w / zoom;}
      if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
      if (y < h / zoom) {y = h / zoom;}
      /*set the position of the magnifier glass:*/
      glass.style.left = (x - w) + "px";
      glass.style.top = (y - h) + "px";
      /*display what the magnifier glass "sees":*/
      glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
    }
    function getCursorPos(e) {
      var a, x = 0, y = 0;
      e = e || window.event;
      /*get the x and y positions of the image:*/
      a = img.getBoundingClientRect();
      /*calculate the cursor's x and y coordinates, relative to the image:*/
      x = e.pageX - a.left;
      y = e.pageY - a.top;
      /*consider any page scrolling:*/
      x = x - window.pageXOffset;
      y = y - window.pageYOffset;
      return {x : x, y : y};
    }
  }

  magnify("myimage", 3);
</script>

<div class="blockS">
    <% var avgRating; %>
            <% if(item.comments.length == 0){ %>
            <%  avgRating = 0; %>                                                  
            <% }else{ var i = 0,j= item.comments.length; %>
              <% item.comments.forEach(function(comment){ %>
                <% if(typeof(comment.rating) == 'undefined') { %>
                <% j-- %>
                <% } else { %>
                  <% i = i + comment.rating %>
                <% } %>
              <% }); %>
              <% avgRating = (i/j).toFixed(1) %>
            <% } %>
            <% if(isNaN(avgRating) || avgRating == 0){ %>
            <% avgRating=0 %>
            <% } %>
    <div class="row">
        <div class="img-magnifier-container">
        <img src='<%= item.image %>' height="400px" width="100%" style="object-fit: cover; border-radius: 12px;" id="myimage">
        <% var showRate; %>
                <% if(avgRating == 0){ %>
                  <% showRate='No rate' %>
                  <% } else { %>
                  <% showRate = avgRating + ' / 5.0' %>
                  <% } %>
        </div>
        <% if(!currentUser){ %>
            <form action='/user/favorite/add/<%= item.id %>' method='post' style="display: inline;">
              <button style="background-color: transparent; border: none;"><i class="far fa-heart"></i></button>
            </form>
          <% } else { %>
          <% if((currentUser.favorite).includes(item.id)) {%>
            <form action='/user/favorite/remove/<%= item.id %>' method='post' style="display: inline;">
              <button style="background-color: transparent; border: none;"><i class="fas fa-heart" style='color: red;'></i></button>
            </form>
          <% } else { %>
            <form action='/user/favorite/add/<%= item.id %>' method='post' style="display: inline;">
              <button style="background-color: transparent; border: none;"><i class="far fa-heart"></i></button>
            </form>
          <% } %>
          <% } %>
          <i class="fas fa-star" style='color: yellow;' title='<%= showRate %>'></i>
        <div class="column">
            <p>Name : <%= item.name %></p>
            <p>Price : <%= item.price%>฿</p>
            <p>Category : <%= item.category %></p>
            <p>Stock : <%= item.stock %></p>
            <p>Description :<%= item.desc %></p>
            <div class="row">
                <p>Sell by : </p>
                <a href='/seller/shop/<%= item.author.id%>'>
                <% if(typeof(item.author.image) == 'undefined') { %>
                    <i class="fas fa-user me-3"></i><%= item.author.username %>
                <% } else { %>
                    <img src='<%= item.author.image %>' style='height: 20px; width: 20px; border-radius: 50%; object-fit:cover;'><%= item.author.username %>
                <% } %>
                </a>
            </div>
            
            <form action="/cart/<%= item._id %>/add" method="post">
                <p>Amount : <input type="number" name='quantity' value="1" min='1' max='<%= item.stock %>'></p>
                <div>
                <button type="submit" style ='font-size: 20px; margin-left: 1rem;'>Add to my cart</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="blockC column" style="margin-top: -1rem;">
    <div class="underline">
    <h3>Comment</h3>
    <form action="/show/<%= item._id %>/comments" method="post">
        <div class='row'>
            <div >
                <input type="text" class=" " name="comment[text]" placeholder="Write your comment :)">
            </div>
            <div>
            <div style="margin-left:1rem">
                <input type="radio" id="star1" name="comment[rating]" value="1" /><label id="label-rating" class = "full" for="star1" title="1 star"></label>
                <input type="radio" id="star2" name="comment[rating]" value="2" /><label id="label-rating" class = "full" for="star2" title="2 stars"></label>
                <input type="radio" id="star3" name="comment[rating]" value="3" /><label id="label-rating" class = "full" for="star3" title="3 stars"></label>
                <input type="radio" id="star4" name="comment[rating]" value="4" /><label id="label-rating" class = "full" for="star4" title="4 stars"></label>
                <input type="radio" id="star5" name="comment[rating]" value="5" /><label id="label-rating" class = "full" for="star5" title="5 stars"></label>
            </div>
            <div style="margin-left:2rem">
                (1 - 5)
            </div>
        </div>
            <div style="margin-left:1rem">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
    </div>

    <div class="overflowY com">
        <div>
            <% item.comments.forEach((comment) => { %>
                    <div class='row'>
                        <p>
                            <% if(typeof(comment.author.image) == 'undefined') { %>
                                <i class="fas fa-user"></i>
                            <% } else { %>
                                <img src='<%= comment.author.image %>' style='height: 20px; width: 20px; border-radius: 50%; object-fit:cover;'>
                            <% } %>
                            <strong><%= comment.author.username %> :</strong>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>

                            <div class="row" style="margin-left: 80rem; margin-top: 0.3rem;">
                                <a data-toggle="reply-form" data-target="<%= comment.id %>-reply-form"><i class="fas fa-edit"></i><span>Edit</span></a>
                                <form onsubmit="if(!confirm('Are you sure?')){return false;}" action="/comment/<%= comment.id %>/delete" method='post'>
                                    <button type='submit'><i class="fas fa-trash-alt"></i><span>Delete</span></button>
                                </form>
                            </div>
                        <% } %>

                    </div>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <div class='row underline'>
                        <p id="<%= comment.id%>-reply-form-2"><%= comment.text %></p>
                        <form action="/comment/<%=comment.id%>/edit" method="post" class="reply-form" id="<%= comment.id%>-reply-form">
                            <textarea rows="2" name='text'><%= comment.text %></textarea>
                            <div class='d-flex justify-content-end'>
                                <button type="button" class='btn btn-danger mx-2' data-toggle="reply-form" data-target="<%= comment.id%>-reply-form">Cancel</button>
                                <button type="submit" class='btn btn-primary'>Submit</button>
                            </div>
                        </form>
                        <div>
                            <% var i; %>
                            <% for(i=1;i <= comment.rating;i++){ %>
                                <i class="fas fa-star" style='color: orange;'></i>
                            <% } %>
                        </div>
                        <p><%= comment.date %></p>
                    </div>
                    <% } else { %>
                        <div class="row underline">
                        <p id="<%= comment.id%>-reply-form-2"><%= comment.text %></p>
                        <div>
                            <% var i; %>
                            <% for(i=1;i <= comment.rating;i++){ %>
                                <i class="fas fa-star" style='color: orange;'></i>
                            <% } %>
                        </div>
                        <p><%= comment.date %></p>
                        </div>
                    <% } %>
            <% }); %>
        </div>
    </div>
</div>

    
<%- include('partials/footer/Main2.ejs') %>