<%- include('partials/header/world.ejs') %>

<div class="block overflowY">
  <form action='/user/history' method="post"> 
  <div class="underline">
    <h1>TRANSACTION</h1>
  </div>
  <div>
    <h3>Delivery Information</h3>
    <div class="column information">
      <div class="row">
        <div>
          <label class="form-label">Fullname</label>
          <input type="text" class="form-control" name="fullname" placeholder="Firstname&#x09;Lastname" value='<%= user.fullname%>' required>
        </div>
        <div>
          <label class="form-label">Phone number</label>
          <input type="text" class="form-control" name="phone" placeholder="Phone number" value='<%= user.phone%>' required>
        </div>
        <div>
          <label class="form-label">Email</label>
          <input type="text" class="form-control" name="email" placeholder="Email" value='<%= user.email%>' required>
        </div>
      </div>
      <div>
        <label class="form-label">Address</label>
        <input type="text" class="form-control" name="address" placeholder="Address" value='<%= user.addressLine+user.city+user.state+user.zipcode+user.country%>' required>
      </div>
    </div>
  </div>

  <div class="column summit">
      <div class="right row">
        <h3>Product name</h3>
        <h3 style="margin-left: 6.3rem;">Price</h3>
        <h3>Amount</h3>
        <h3>Subtotal</h3>
      </div>
      <% var subtotal = 0,fee=100 %>
      <% item.forEach((cart) => { %>
      <div class="row">
        <img src='<%= cart.productId.image %>' style="height: 100px; width: 100px; border-radius: 12px;" class='card-img-top'>
        <p><%= cart.productId.name %>฿</p>
        <p><%= cart.productId.price %>฿</p>
        <p>x<%= cart.quantity %></p>
        <p>฿<%= cart.productId.price * cart.quantity %></p>
      </div>
      <% subtotal = subtotal + (cart.quantity * cart.productId.price) %>
        <% }); %>
        <% total = subtotal + fee %>
      <div class="boxx">
        <h5>Subtotal<input type='hidden' name='subtotal' value='<%= subtotal %>'></h5>
        <p>฿<%= subtotal %></p>
        <h5>Shipping fee<input type='hidden' name='fee' value="<%= fee %>"></h5>
        <p>฿<%= fee %></p>
        <h4>Total<input type='hidden' name='total' value='<%= total %>'></h4>
        <h4>฿<%= total %></h4>
        <div>
          <button class='btn btn-success' style="background-color: red;" type="submit">Submit</button>
        </div>
      </div>
  </div> 
</form> 
</div>


<%- include('partials/footer/Main2.ejs') %>

