<%- include('partials/header/world.ejs') %>

<div class="block overflowY">
  <form action='/user/history' method="post"> 
  <div class="underline">
    <h1>TRANSACTION</h1>
  </div>
  <div>
    <h3>Delivery Information</h3>
    <div class="column information">
      <div class="row">
        <div>
          <label class=" ">Fullname</label>
          <input type="text" class=" " name="fullname" placeholder="Firstname&#x09;Lastname" value='<%= user.fullname%>' required>
        </div>
        <div>
          <label class=" ">Phone number</label>
          <input type="text" class=" " name="phone" placeholder="Phone number" value='<%= user.phone%>' required>
        </div>
        <div>
          <label class=" ">Email</label>
          <input type="text" class=" " name="email" placeholder="Email" value='<%= user.email%>' required>
        </div>
      </div>
      <div>
        <label class=" ">Address</label>
        <input type="text" class=" " name="address" placeholder="Address" value='<%= user.addressLine+user.city+user.state+user.zipcode+user.country%>' required>
      </div>
    </div>
  </div>

  <div class="column summit">
      <div class="right row">
        <h3>Product name</h3>
        <h3 style="margin-left: 4.6rem;">Price</h3>
        <h3>Amount</h3>
        <h3>Subtotal</h3>
      </div>
      <% var subtotal = 0,fee=100 %>
      <% item.forEach((cart) => { %>
      <div class="row">
        <img src='<%= cart.productId.image %>' style="height: 100px; width: 100px; border-radius: 12px;">
        <p><%= cart.productId.name %></p>
        <p><%= cart.productId.price %>฿</p>
        <p>x<%= cart.quantity %></p>
        <p>฿<%= cart.productId.price * cart.quantity %></p>
      </div>
      <% subtotal = subtotal + (cart.quantity * cart.productId.price) %>
        <% }); %>
        <% total = subtotal + fee %>
      <div class="boxx">
        <div style="display: flex; flex-direction: row;">
          <h5>Subtotal<input type='hidden' name='subtotal' value='<%= subtotal %>'></h5>
          <p><%= subtotal %>฿</p>
        </div>
        <div style="display: flex; flex-direction: row;">
          <h5>Shipping fee<input type='hidden' name='fee' value="<%= fee %>"></h5>
          <p><%= fee %>฿</p>
        </div>
        <div style="display: flex; flex-direction: row;">
          <h4>Total<input type='hidden' name='total' value='<%= total %>'></h4>
          <h4><%= total %>฿</h4>
        </div>
        <div>
          <button style="background-color: red; width: 100%; color: white;" type="submit">Submit</button>
        </div>
      </div>
  </div> 
</form> 
</div>


<%- include('partials/footer/Main2.ejs') %>

