<%- include('partials/header/world.ejs') %>

<div class="block overflowY">
  <form action='/user/history' method="post"> 
  <div class="underline" >
    <div style="margin-top:0.5rem">
      <h1>TRANSACTION</h1>
    </div>
  </div>
  <div>
    <div style="margin-top:0.5rem">
      <h2>Delivery Information</h2>
    </div>
    <div class="column information" style="margin-top:1rem">
      <div class="row spacebetween">
        <div class="row">
          <label>Fullname : </label>
          <div class="underline">
            <input class="inputX" type="text" name="fullname" placeholder="Firstname&#x09;Lastname" value='<%= user.fullname%>' required>
          </div>
        </div>
        <div class="row">
          <label>Phone number :</label>
          <div class="underline">
            <input class="inputX" type="text" name="phone" placeholder="Phone number" value='<%= user.phone%>' required>
          </div>
        </div>
        <div class="row">
          <label>Email :</label>
          <div class="underline">
            <input class="inputX" type="text" name="email" placeholder="Email" value='<%= user.email%>' required>
          </div>
        </div>
      </div>
      <div class="row">
        <label>Address :</label>
        <div class="underline">
        <input class="inputX" type="text" name="address" placeholder="Address" value='<%= user.addressLine+user.city+user.state+user.zipcode+user.country%>' required>
        </div>
      </div>
    </div>
  </div>

  <div class="column summit">
      <div class="right row">
        <h3>Product name</h3>
        <h3 style="margin-left: 4.6rem;">Price</h3>
        <h3>Amount</h3>
        <h3>Subtotal</h3>
      </div>
      <% var subtotal = 0,fee=100 %>
      <% item.forEach((cart) => { %>
      <div class="row">
        <img src='<%= cart.productId.image %>' style="height: 100px; width: 100px; border-radius: 12px;">
        <p><%= cart.productId.name %></p>
        <p><%= cart.productId.price %>฿</p>
        <p>x<%= cart.quantity %></p>
        <p>฿<%= cart.productId.price * cart.quantity %></p>
      </div>
      <% subtotal = subtotal + (cart.quantity * cart.productId.price) %>
        <% }); %>
        <% total = subtotal + fee %>
      <div class="boxx">
        <div style="display: flex; flex-direction: row;">
          <p>Subtotal :<input type='hidden' name='subtotal' value='<%= subtotal %>'></p>
          <p><%= subtotal %>฿</p>
        </div>
        <div style="display: flex; flex-direction: row;">
          <p>Shipping fee :<input type='hidden' name='fee' value="<%= fee %>"></p>
          <p><%= fee %>฿</p>
        </div>
        <div style="display: flex; flex-direction: row;">
          <h4>Total<input type='hidden' name='total' value='<%= total %>'></h4>
          <h4><%= total %>฿</h4>
        </div>
        <div>
          <button style="background-color: red; width: 100%; color: white;" type="submit">Submit</button>
        </div>
      </div>
  </div> 
</form> 
</div>


<%- include('partials/footer/Main2.ejs') %>

