<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- title -->
  <title>Baby shop</title>
  <!-- css -->
  <link rel="stylesheet" href="/style/header/Main.css">
  <link rel="shortcut icon" type="png" href="/picture/main/logo.png">
  <link rel="stylesheet" href="/style/uploadFile.css">
  <!-- icon -->
  <link href="path/to/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- javascript -->
  <script src="/js/header/Main.js" defer></script>
</head>

<body>
  <header>
    <!-- navbar line 1 -->
    <% if(!currentUser) {%>
      <nav>
        <div class="navbar__search navbar__search--design">
          <!-- logo -->
          <a href="/"><img class="logo" src="/picture/main/logo.png"></a>
          <span id="logotext">BABY SHOP</span>


          <!-- search bar -->
          <div class="container__searchbar container__searchbar--design">
            <div class="icon">
              <i class='bx bx-search search'></i>
            </div>
            <div class="input">
              <form action='/search' method="post" class="d-flex">
                <input class="form-control" type="search" placeholder="Search here" aria-label="Search" name='search' id="search">
                <i class='bx bx-x clear'></i>
                <button class="btn btn-outline-warning" type="submit">Search</button>
              </form>
            </div>
          </div>

        <!-- 3 icon right -->
        <i class='bx bx-volume-mute icon__mute' id="icon-music"></i>
        <i class='bx bxs-bell icon__noti'></i>
        <a href='/login' style="margin-top: -1.5rem;"><i class='bx bx-cart icon__cart'></i></a>
        </div>
      </nav>

      <!-- navbar line 2 -->
      <nav>
        <div class="navbar__list">
          <div class="button__all">
            <i class='bx bx-list-ul icon__list' onclick="openNav()"></i>
            <span class="text__list" onclick="openNav()">All</span>
          </div>
          <a href="#" class="save__button">Saved</a>
          <a href="/seller" class="sell__button">Sell</a>
          <a href="/login" class="signup__button">sign in</a>
          <a href="/signup" class="signin__button">sign up</a>

        </div>
      </nav>
      <% } else { %>
        <nav>
          <div class="navbar__search navbar__search--design">
            <!-- logo -->
            <a href="/"><img class="logo" src="/picture/main/logo.png"></a>
            <span id="logotext">BABY SHOP</span>
            <!-- search bar -->
            <div class="container__searchbar container__searchbar--design">
              <form action="/search" method="POST" class="d-flex">
                <div class="icon">
                  <i class='bx bx-search search'></i>
                </div>
                <div class="input">
                  <input type="search" placeholder="Search" aria-label="Search" id="search">
                  <i class='bx bx-x clear'></i>
                </div>
              </form>
            </div>
            <!-- 3 icon right -->
            <i class='bx bx-volume-mute icon__mute' id="icon-music"></i>
            <i class='bx bxs-bell icon__noti'></i>
            <a href='/cart/<%= currentUser.id %>' style="margin-top: -1.5rem;"><i class='bx bx-cart icon__cart'></i></a>
          </div>
        </nav>

        <!-- navbar line 2 -->
        <nav>
          <div class="navbar__list">
            <div class="button__all">
              <i class='bx bx-list-ul icon__list' onclick="openNav()"></i>
              <span class="text__list" onclick="openNav()">All</span>
            </div>
            <a href="#" class="save__button">Saved</a>
            <a href="/seller" class="sell__button">Sell</a>
            <% if(typeof(currentUser.image)=='undefined' ) { %>
              <a href="/user/profile" class="signup__button2"><i class="fas fa-user me-3"></i>&nbsp;<%=
                  currentUser.username %></a>
              <% } else { %>
                <a href="/user/profile" class="signup__button2"><img src='<%= currentUser.image %>'
                    style='height: 30px; width: 30px; border-radius: 50%; object-fit:cover; z-index: -1;'><span>&nbsp;
                    <%= currentUser.username %></span></a>
                <% } %>
                  <a href="/logout" class="signin__button3">Log out</a>

          </div>
        </nav>
        <% } %>
  </header>

  <!-- flash -->
  <% if(error && error.length>0){ %>
    <div class='alert alert-danger' style="z-index: 2; font-size: 2rem; align-items: center;" role='alert'>
      <%= error %>
        <button class='flashx' onClick="window.location.reload();"><i class='bx bx-x'></i></button>
    </div>
    <% } %>
      <% if(success && success.length>0){ %>
        <div class='alert alert-success' style="z-index: 2; font-size: 2rem; align-items: center;" role='alert'>
          <%= success %>
            <button class='flashx' onClick="window.location.reload();"><i class='bx bx-x'></i></button>
        </div>
        <% } %>
          <!-- sidebar -->
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <h2>Category</h2>
            <div>
              <a href="#"> <i class='bx bx-closet'></i> clothes</a>
              <a onclick="myFunction()"> <i class='bx bxs-watch-alt'></i> decorations</a>
              <a onclick="myFunction()"> <i class='bx bx-football'></i> Toys & Game</a>
              <a onclick="myFunction()"> <i class='bx bxs-book-bookmark'></i> Book</a>
              <a onclick="myFunction()"> <i class='bx bx-tv'></i> Electronics</a>
              <a href="#">All</a>
            </div>
            <h2>Help & Setting</h2>
            <a href="/user/profile">Your Account</a>
            <a href="/darkmode">Go to Darkmode</a>
          </div>

          <!-- pop-up -->
          <div class="popup-screen">
            <div class="popup-box">
              <i class="fas fa-times close-btn"></i>
              <h2>Welcome to my wesite</h2>
              <p>Are you sign in yet?</p>
              <a href="/signup" class="btn">Sign in</a>
            </div>
          </div>